
body {
  background: #fff;
  min-width: 550px;
  padding: 0;
}
body p {
  font-family: 'Roboto-Light';
}

h1, h2 { font-family: 'Amsi Pro Ultra'/*font: bold 2em Amsi Pro Ultra*/; }
h3 { font-family: 'Amsi Pro'/*font: bold 1.17em Amsi Pro*/; }

.label {
  font: italic 0.75em arial, sans-serif;
  padding: 0 10px;
}
.splash {
  display: block;
  margin: -15px auto 0 auto;
  padding: 10vw 15vw;
}

section {
  border-top: 2px dashed lightgrey;
  margin: 0;
}

.menubar {
  padding: 0 25px;
}
.logo {
  width: 50px;
  display: inline-block;
}

nav {
  float: left;

  float: right;
}

nav a {
  color: black;
  text-decoration: none;
  text-align: center;
  font: bold 1.15em Amsi Pro;
  line-height: 50px;
  display: inline-block;
  min-width:100px;
  width:15vw;
}

.banner-gradient {
  width: 100%;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  opacity: 0.95;
  padding: 10vw 0;
  text-align: center;
  color: white;
}

.single {
  padding: 20px;
}

.two {
  padding: 20px;
}

.two p {
  width: 47.5%;
  padding-right: 2.5%;
  display: table-cell;
}
